.but {
    text-align: center;
    margin-left: 550px;
    margin-top: -120px;
    

}

.styled {
  text-decoration: none;
    border: 0;
    line-height: 3.5;
    padding: 0 30px;
    font-size: 2rem;
    color: #fff;
    margin-left: 30px;
    text-shadow: 1px 1px 1px #000;
    border-radius: 50px;
    background-color:rgb(226, 76, 17);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled:hover {
    background-color: rgb(255, 174, 0);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

 