.header {
    text-align: center;
    font-stretch: normal;
    font-weight:lighter;
    
    font-size: 65px;
    color: rgb(226, 76, 17);
    padding-left: 10px;
    padding-top: 30px;
    
}

  

.clock {
    color: rgb(226, 76, 17);
    font-weight:lighter;
}

.wrong {
    margin-top: -40px;
    list-style-type:none; 
margin-left: 50px;
color: rgb(230, 84, 17);
text-decoration: none;

}