.header {

   font-family: 'Verdana';
  font-size: 23px; 
  height: 56px;
    
    font-size: 55px;
    color: rgb(226, 76, 17);
    padding-left: 10px;
    padding-top: 40px;
    
}

  

.clock {
    color: rgb(226, 76, 17);
    font-weight:lighter;
    font-size: 50px;
    margin-left: -390px;
}

.wrong {
    margin-top: -40px;
    list-style-type:none; 
margin-left: 150px;
color: rgb(230, 84, 17);
text-decoration: none;

}

.button1 {
    
        display: inline-block;
        background: #ee430f;
        color: #fff;
        padding: 12px;
        border-radius: 10px;
        text-decoration: none;
        font-family: Tahoma;
        font-size: 18px;
        line-height: 1;
        font-weight: 100;
        margin-left: 100px;
        
      }
      
      div {
        margin: 24px;
        text-align: center;
      }
