table.blueTable {
  text-align: right;
  display: block;
  font-family: "Impact", "Arial", sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  max-width: 800px;
}
table.blueTable td,
table.blueTable th {
  border: 1px solid #2d21d1;
  padding: 20px 49px;
  text-align: left;
}
table.blueTable tbody td {
  font-size: 2.5vb;
}
.para {
  margin-top: 20px;
  text-align: center;
  font-size: 2.5vb;
  font-weight: lighter;
  color: #0a455e;
  height: auto;
}

.para1 {
  margin-top: 20px;
  text-align: center;
  font-size: 2.5vb;
  font-weight: lighter;
  color: #000000;
  height: auto;
}
