
.moscow {
    font-family: 'Verdana';
     height: 120px;
     text-align: center;
     font-size:4vb;
     margin-top: 30px;
     position: relative;

  
    
}

.header {
  font-family: 'Verdana';
  font-size: 3.5vb; 
   height: 150px;
   text-align: center;
margin: 40px;
 position: relative;  
   color: #ffde09; 
   display: block;
   
}

 .gradus {

    font-family: 'Verdana';
    font-size: 4vb; 
    margin-left: 290px;
    margin-right: auto;
    display: flex;

 
 }


 .gradus2 {

  font-family: 'Verdana';
  font-size: 55px;
  margin-left: 290px;
  margin-right: auto;}

 .header2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 3vb;
    color: #fff; 
    font-size: 3vw; 
   height: 40px;
     text-decoration: none;
     font-size: 88px;
     color: #02161f;
     position: relative;
     display: flex;
   

   

 }
 .clock {
     color:#0a455e;
     font-size: 1.9vw; 
     display: block;
     position: relative;
     margin-left: 290px;
     margin-right: auto;
 } 

 .tempObject {
	display: flex;
    position: relative;
    

}
.checked {
  text-align: right;
margin-left: 30%;
  margin-top: 70px;
  position: absolute;

}

.centr {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}
.centr2 {
  font-size: 55px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 600px;

}



