
.App {
  margin-left: auto;
  margin-right: auto;
  background-image: url(./img/qwerty.jpg);
  background-size: 100% auto;
  display: block;
  overflow-x: hidden;
}

.black   { 
  display: flex;
  background-image: url(./img/aaaaa.jpg);
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-size: 100% auto;
  overflow-x: hidden;
  }
  
  .btn {
    text-align: right;
    display: block;
    float: right;
    padding:15px 55px;
      font-family: "Times New Roman", Times, serif;
      font-size: 40px;
      margin-right: 60px;
      color: #0e0d0d; 
    border-radius:10px; 
    text-decoration:none;
      transition: 0.7s; 
     }
     .btn:hover {
      background-color: #1babe9; 
     }
     .btn:active {
      background-color: #1babe9; 
     }





   

   


