
.App {

   margin-left: 35px;
    font-family: "Impact", "Arial", sans-serif;

   @media (min-width: 1200px) {

   }
   @media (min-width: 992px) {
    
   }
   
   @media (min-width: 768px) {

   }
   @media (min-width: 480px) {
    
   }
   @media (min-width: 320px) {
    
   }
    
   
}
/* .myButton {
	box-shadow: 0px 0px 0px 2px #3C5D6B;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#3C5D6B;
	border-radius:10px;
	border:1px solid #3C5D6B;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 30px;
	padding:8px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  margin-left: 50px;
  margin-top: 50px;
  float: right;
  margin-right: 150px;

} */


.img {

 width: 100px;
 position: absolute;
 top: 40px;
 left: 400px;


 
}

.black   { width: 100%;

    height: 160px;
    background-color: rgb(0, 0, 0);
    opacity: 0.78;  text-align: justify;
    margin: 0;
    box-sizing: border-box;

}

.btn {
	margin-left: 50px;
  margin-top: 50px;
  float: right;
  margin-right: 150px;

	padding:8px 25px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: #fff; 
	border-radius:10px;
    border: none; 
	text-decoration:none;
    transition: 0.7s; 
   }
   .btn:hover {
    background-color: #3C5D6B; 
   }
   .btn:active {
    background-color: #3C5D6B; 
   }
   .hero {
	width: 600px;
	height: 200px;
	overflow: hide;
	}
   

  img.background {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  
   
    }

  .imege {
    margin: 50px 0;
    background: url('./img/pog.jpg');
  }