


.App {
     margin-top: 10px;
   margin-left: 35px;
    font-family: "Impact", "Arial", sans-serif;
    border-style: solid;
    width: 2800px; 
  height: 1000px; 
  border: 2px solid rgb(0, 0, 0);
}

   